.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

h1{
    font-family: gandhi_serifregular,"Georgia",Times New Roman,serif;
    font-style: normal;
    font-size: 4.0rem;
    line-height: 1.12;
    letter-spacing: -0.9px;
    margin-bottom: .5em;
    margin-top: 0;
    color: #222;
    text-align: center;
    text-decoration: underline;
}

#toHelp{
    margin-top: 100px;
    font-family: gandhi_serifregular,"Georgia",Times New Roman,serif;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 1.12;
    letter-spacing: -0.9px;
    margin-bottom: .5em;
    margin-top: 0;
    color: #222;
    text-align: center;
}

p{
    font-family: "Georgia",Times New Roman,serif;
    font-size: 1.143em;
    line-height: 1.7;
}
.title{
  width: 135px;
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#statesvg {
  margin-left: 60px;
}
#gender{
  display: none;
}
.btn-htv {
/*    margin-bottom: 5px;*/
}
.foot-links a, .foot-links p{
  display: block;
  color: rgb(63, 63, 63);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 13px;
  color: rgb(63, 63, 63);
  padding-bottom: 5px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;

}

a:link {
  color: blue;
}
.foot-links img{
  padding-top: 5px;
}
#footer{
  background: rgb(241, 241, 241);
  border-top: 1px solid rgb(222, 222, 222);
  margin-top: -2px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 25px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 25px;
}

.foot-header{
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  color: rgb(63, 63, 63);
  padding-bottom: 20px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}

#footer .container{

  max-width: 1300px;

  max-width: 1300px;


   }

#bottom-footer{
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}
#bottom-footer a{
  text-decoration: none;
  color: #626262;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 12px;
  padding: 0px 15px;
  border-right: 1px solid #ccc;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 13px;
  color: #626262;
  padding: 0 12px;
  text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
#bottom-footer .phone img{
  margin-right: 7px;
}
#bottom-footer .phone .red{
  font-size: 22px;
  margin-top: -7px;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 18px!important;
  color: #d10029!important;
  position: relative;
  top: -5px;
  text-shadow: 1px 1px 0 rgba(255,255,255,1)!important;
}
#bottom-footer .phone .red small{
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 12px!important;
  display: block;
  color: #626262!important;
  text-shadow: 1px 1px 0 rgba(255,255,255,1)!important;
  margin-top: -5px;
}
#final-footer{
  font-size: 11px;
  color: #666;
}
#final-footer i{
  font-size: auto;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.info {
  width: 1400px;
  height: 130px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;
  padding-bottom: 0px;

}

.infotwo {
  width: 1400px;
  height: 100px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 0px;

}
#classinfo {
  float: left;
  width: 390px;
  height: 100%;
  padding-top: 0px;
  padding-left: 50px;

}
#filesubmitted {
  float: left;
  width: 390px;
  height: 100%;
  padding-left: 60px;

}
#data {
  float: left;
  width: 250px;
  height: 100%;
  padding-left: 50px;
  padding-right: 0px;
  padding-bottom: 20px;
}

#code {
  float: left;
  width: 390px;
  height: 100%;
  padding-left: 200px;
  padding-right: 0px;
  padding-bottom: 30px;
}
h3 {
  font-size: 15px;
}
.x.axis path {
  display: none;
}

.state{
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}
.state:hover{
  fill-opacity:0.5;
}

.legend {
  font-size: 12px;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}
#tooltip h4{
  margin:0;
  font-size:16px;

}
#tooltip h5 {
  font: bold;

}
#tooltip{
  background:rgba(0,0,0,0.9);
/*  border:1px solid grey;*/
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
/*  color:white;*/
  opacity:0;
}

/*Added ToolTip - Commented out the tow lines above*/
#tooltip {
  background: #e9e9e9;
/*  border:1px solid grey;*/
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:solid grey;
  opacity:0;
  box-shadow: 0px 0px 5px grey;
  z-index: 999;
}

#tooltip table{
  table-layout:fixed;
}
#tooltip tr td{
  padding:0;
  margin:0;
}
#tooltip tr td:nth-child(1){
  width:150px;
}
#tooltip tr td:nth-child(2){
  text-align:center;
}

#viewDefault, #viewFemale, #viewMale, #viewOther{
  width: 303px !important;
}

#selection {
  padding: 10px;
}


#typeOfCrime{
  width: 180px;
  height: 35px;
}

#gender{
  width: 180px;
  height: 35px;
  display: inline-block;
}

#statesvg{
  position: relative;
  right: 80px;
}

#state1, #state2{
  width:100px;
}

#state1_chosen, #state2_chosen{
  width: 135px !important;
  display: inline-block !important;
}

#compare{
  display:inline-block;
  width:inherit;
}

.modal-dialog {
  width: 960px; /* New width for default modal */
}
